body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.grid {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width:75vw;
    height:75vw;
}

.row {
    display: flex;
}

.square {
    background-color: white;
    margin: 0px;
    min-width: 8px;
    min-height: 8px;
}

.shaded {
    background-color: darkgray;
}